<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PC Comp Picker</title>
        <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
        <link rel="manifest" href="../static/site.webmanifest">
        <link href="../static/style.css" type="text/css" rel="stylesheet"></link>
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a class="active" href="/about">About</a>
            <a href="/wishlist">Wishlist</a>
            <input type="text" id="navsearchbar" placeholder="Search.."/>
        </div>
        This is the about page.
    </body>
</html>
