<html>
  <head>
    <title>
      PC Comp Picker - About
    </title>
    <link href="../static/index.css" type="text/css" rel="stylesheet"></link>
  </head>
  <body>
    <div class="sidebar">
      <h3 class="centre">Filters</h4>
      price low: <input type=text name="pricelow">
      price high: <input type=text name="pricehigh"><br>
      <br>Components:<br>
      <input type=checkbox name="comp" id="cpu-check" checked> CPU<br>
      <input type=checkbox name="comp" id="ram-check" checked> Memory<br>
      <input type=checkbox name="comp" id="gpu-check" checked> GPU<br>
      <input type=checkbox name="comp" id="case-check" checked> Case<br>
      <input type=checkbox name="comp" id="monitor-check" checked> Monitor<br>
      <input type=checkbox name="comp" id="storage-check" checked> Storage<br>
      <br>Vendors:<br>
      <input type=checkbox name="vendor" id="amazon-check" checked> Amazon<br>
      <input type=checkbox name="vendor" id="mdcomputers-check" checked> MD Computers<br>
      <input type=checkbox name="vendor" id="computerspace-check" checked> Computerspace<br>
      <input type=checkbox name="vendor" id="vedantcomputers-check" checked> Vedant Computers<br>
      <input type=checkbox name="vendor" id="primeabgb-check" checked> PrimeAGBG<br>
      <input type=checkbox name="vendor" id="itdepot-check" checked> The IT Depot<br>
      <br><button name="apply" class="centre">Apply</button>
      <a href="#">Contact</a>
      <a href="/about">About</a>
    </div>
    <div class="main">
    <h3 class="centre main-title">About PC Comp Picker</h3>
    <a href="/"><p class="centre">Back to home</p></a>
    <p class="small-text">
      lol<br>
    </p>
    </div>
  </body>
</html>
