{% extends "base.html" %}
{% block main %}
<div id="about-wrapper">
    <div id="about-content">
        <h2>About:</h2>
        <p>This project is inspired by a popular website called
        <a href="https://pcpartpicker.com/" target="_blank">
            <mark>pc part picker</mark></a> which provides computer part selection and other features to DIY pc builders.
        But unfortunately, it does not support Indian vendors, which is the reason we made pc comp picker.
        </p>
        <br>
        <h3>Why you should use:</h3>
        <ul class="bulletpoint">
            <li>Respects your privacy</li>
            <li>One-stop-destination for finding the best PC components in India</li>
            <li>Supports local vendors</li>
            <li>Supports price tracking of items in your build</li>
            <li>Share your build with others using a shareable link or a QR code</li>
            <li>Minimalist design with zero ads or bloat</li>
            <li>Completely free and open source, licensed under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">GNU Affero General Public License v3.0</a></li>
        </ul>
        <br>
        <h3>What not to expect</h3>
        <ul class="bulletpoint">
            <li>Lacks images for products of certain vendors due to <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS" target="_blank"><mark>CORS</mark></a> errors</li>
            <li>Does not support some filters at the moment</li>
        </ul>
        <br>
        <ul>
            <h3>Supported sites</h3>
            <ul class="bulletpoint">
                <li><a href="https://www.amazon.in/" target="_blank">Amazon</a></li>
                <li><a href="https://computerspace.in/" target="_blank">Computerspace</a></li>
                <li><a href="https://www.theitdepot.com/" target="_blank">IT depot</a></li>
                <li><a href="https://mdcomputers.in/" target="_blank">MD computers</a></li>
                <li><a href="https://www.primeabgb.com/" target="_blank">Prime ABGB</a></li>
                <li><a href="https://www.vedantcomputers.com/" target="_blank">Vedant computers</a></li>
                <li>To request support for other vendors, create an issue on <a href="https://github.com/Ultrahalf/pccp/" target="_blank">github</a></li>
            </ul>
            <br>
            <h3>Contributors</h3>
            <ul class="bulletpoint">
                <li><a href="https://github.com/rxxed" target="_blank">Raaed</a></li>
                <li><a href="https://github.com/Ultrahalf" target="_blank">Althaf</a></li>
                <li><a href="https://github.com/melrickdsouza" target="_blank">Melrick</li>
            </ul>
        </ul>
    </div>
    <footer>
        <ul>
            <li><a href="https://github.com/Ultrahalf/pccp/" target="_blank">Github</a></li>
        </ul>
    </footer>
</div>
{% endblock %}
