<html>
    {% block head %}
    <head>
        <meta charset="UTF-8">
        <title>PC Comp Picker</title>
        <link href="../static/style.css" type="text/css" rel="stylesheet"></link>
        <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
        <link rel="shortcut icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    {% endblock %}
    <body>
        <nav>
            <ul class="topnav">
                <li><a href="{{ url_for('index') }}">pccp</a></li>
                <li><a href="{{ url_for('wishlist') }}">wishlist</a></li>
                <li class="search">
                    <input type="text" class="search-input" placeholder="Search">
                    <button type="submit"> Go</button>
                </li>
                {% block nav %}{% endblock %}
            </ul>
        </nav>

        {% block main %}
        {% endblock %}
    </body>
</html>
