{% extends "base.html" %}
{% block main %}

<div class="comparison-btn-group">
    <button id="comparison-btn-back">Go back</button>
    <button id="comparison-remove-all" onclick="javascript:window.location.reload()">Remove all</button>
</div>

<script type=text/javascript>
    $(function() {
    $('button#comparison-remove-all').on('click', function(e) {
        e.preventDefault()
        $.getJSON('/_comparison_remove_all',
            function(data) { 
                // no change to button
            }
        );
        return false;
      });
    });
</script>

{% if session['comparison'] %}
    <div class="comparison-content">
        {% for prod in session['comparison'] %}
            <iframe src="{{prod['url']}}" title="{{prod['url']}}"></iframe>
        {% endfor %}
    </div>
{% else %}
    <h3 class="no-content-warn">No products have been added for comparison.</h3>
{% endif %}

{% endblock %}
