{% extends "base.html" %}
{% block main %}

    <div class="product-filter">
            <button> List</button>
            <button> Grid</button>
            <select>
                <option>Low to high</option>
                <option>High to low</option>
            </select>
            <button> Filter</button>
    </div>

    <hr/>

    <div class="product-grid">

        {% for prod in data %}
            {% if loop.index0 < pagelen %}
                <div class="product-card">
                    <img src="{{ prod['img'] }}" alt="product"/>
                    <h3>{{ prod['title'] }}</h3>
                    <span>{{ prod['price'] }} ₹</span>
                    <br>
                    <div class="btn-group">

                        <a href="{{ prod['url'] }}">
                            <button class="btn-vist">
                                    Visit the page
                            </button>
                        </a>

                        <!-- compare button -->
                        <button class="btn-compare">Compare</button>
                        <!-- end compare button -->

                        <!-- add to wishlist button -->
                        <a href="#" id=add-{{prod["_id"]}}>
                            <button class="btn-add">
                                Add to Wishlist
                            </button>
                        </a>
                        <script type=text/javascript>
                            $(function() {
                            $('a#add-{{prod["_id"]}}').on('click', function(e) {
                                e.preventDefault()
                                $.getJSON('/_add_to_wishlist/{{prod["_id"]}}',
                                    function(data) { }
                                );
                                return false;
                              });
                            });
                        </script>
                        <!-- end add to wishlist button -->

                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

    <a href="{{ url_for('component', name=name, pageno=pageno-1) }}">Previous</a>
    <a href="{{ url_for('component', name=name, pageno=pageno+1) }}">Next</a>

{% endblock %}
