{% extends "base.html" %}
{% block main %}

<div class="comparison-btn-group">
    <button id="comparison-btn-back">go back</button>
    <button>remove all</button>
</div>

{% if session['comparison'] %}
    <div class="comparison-content">
        {% for prod in session['comparison'] %}
            <iframe src="{{prod['url']}}" title="{{prod['url']}}"></iframe>
        {% endfor %}
    </div>
{% else %}
    <h3 class="no-content-warn">No products have been added for comparison.</h3>
{% endif %}

{% endblock %}
