<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PC Comp Picker</title>
        <link href="../static/style.css" type="text/css" rel="stylesheet"></link>
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <nav>
            <ul class="topnav">
                <li><a href="#">Pccp</a></li>
                <li><a href="#">Wishlist</a></li>
                <li class="search">
                    <input type="text" class="search-input" placeholder="Search">
                    <button type="submit"> Go</button>
                </li>
            </ul>
        </nav>
        <!--     <form method="post"> -->
        <!--         <label>price: </label><br> -->
        <!--         <input type=text name="price-low" placeholder="min"><input type=text name="price-high" placeholder="max"><br> -->
        <!--         <br><label>Vendors:</label><br> -->
        <!--         <input type=checkbox name="amazon-check"> Amazon<br> -->
        <!--         <input type=checkbox name="mdcomputers-check"> MD Computers<br> -->
        <!--         <input type=checkbox name="computerspace-check"> Computerspace<br> -->
        <!--         <input type=checkbox name="vedantcomputers-check"> Vedant Computers<br> -->
        <!--         <input type=checkbox name="primeabgb-check"> PrimeAGBG<br> -->
        <!--         <input type=checkbox name="itdepot-check"> The IT Depot<br> -->
        <!--         <br><label>Feature:</label><br> -->
        <!--         <input type=submit name="submit"/><br> -->
        <!--     </form> -->
        <main>
            <div class="product-filter">
                    <button> List</button>
                    <button> Grid</button>
                    <select>
                        <option>Low to high</option>
                        <option>High to low</option>
                    </select>
                    <button> Filter</button>
            </div>

            <hr/>

            <div class="product-grid">
                <div class="product-card">
                    <img src="img/android-chrome-192x192.png" alt="product"/>
                    <h3>Title of the product</h3>
                    <span>$0.00</span>
                    <br>
                    <div class="btn-group">
                        <button class="btn-vist">Vist the page</button>
                        <button class="btn-compare">Compare</button>
                        <button class="btn-add">Add to the list</button>
                    </div>
                </div>


                <div class="product-card">
                    <img src="img/android-chrome-192x192.png" alt="product"/>
                    <h3>Title of the product</h3>
                    <span>$0.00</span>
                    <br>
                    <div class="btn-group">
                        <button class="btn-vist">Vist the page</button>
                        <button class="btn-compare">Compare</button>
                        <button class="btn-add">Add to the list</button>
                    </div>
                </div>

                <div class="product-card">
                    <img src="img/android-chrome-192x192.png" alt="product"/>
                    <h3>Title of the product</h3>
                    <span>$0.00</span>
                    <br>
                    <div class="btn-group">
                        <button class="btn-vist">Vist the page</button>
                        <button class="btn-compare">Compare</button>
                        <button class="btn-add">Add to the list</button>
                    </div>
                </div>

                <div class="product-card">
                    <img src="img/android-chrome-192x192.png" alt="product"/>
                    <h3>Title of the product</h3>
                    <span>$0.00</span>
                    <br>
                    <div class="btn-group">
                        <button class="btn-vist">Vist the page</button>
                        <button class="btn-compare">Compare</button>
                        <button class="btn-add">Add to the list</button>
                    </div>
                </div>

            </div>
        </main>
    </body>
</html>
