{% extends "base.html" %}
{% block main %}

    <div class="product-filter">
            <button> List</button>
            <button> Grid</button>
            <select>
                <option>Low to high</option>
                <option>High to low</option>
            </select>
            <button> Filter</button>
    </div>

    <hr/>

    <div class="product-grid">

        {% for prod in data %}
            {% if loop.index0 < pagelen %}
                <div class="product-card">
                    <img src="{{ prod['img'] }}" alt="product"/>
                    <h3>{{ prod['title'] }}</h3>
                    <span>{{ prod['price'] }}</span>
                    <br>
                    <div class="btn-group">

                        <a href="{{ prod['url'] }}" target="_blank">
                            <button class="btn-vist">
                                    visit page
                            </button>
                        </a>

                        <!-- compare button -->
                        <button class="btn-compare">compare</button>
                        <!-- end compare button -->

                        <!-- wishlist button -->
                        <div id=wishlist-{{prod["_id"]}}>
                            <a href="#" id='add-{{prod["_id"]}}'>
                                <button class="btn-add">
                                    add to wishlist
                                </button>
                            </a>
                        </div>

                        <script type=text/javascript>
                            $(function() {
                            $('#wishlist-{{prod["_id"]}}').on('click', function(e) {
                                e.preventDefault()
                                $.getJSON('/_wishlist_toggle/{{prod["_id"]}}',
                                    function(data) {
                                        $("#wishlist-{{prod['_id']}}").html(
                                            "<a href=# id="+data.newbuttonid+">"+
                                                "<button class="+data.newbuttonclass+">"+
                                                    data.newbuttontext+
                                                "</button>"+
                                            "</a>"
                                        )
                                    }
                                );
                                return false;
                              });
                            });
                        </script>
                        <!-- end wishlist button -->

                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

    <div class="pagination">
        <button id="previous" class="accent"><a href="{{ url_for('component', name=name, pageno=pageno-1) }}">Previous</a></button>
        <button id="no">1</button> 
        <button id="no" class="cur">2</button> 
        <button id="no">3</button> 
        <button id="next" class="accent"><a href="{{ url_for('component', name=name, pageno=pageno+1) }}">Next</a></button>
    </div>


{% endblock %}
