<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PC Comp Picker</title>
        <link href="../static/style.css" type="text/css" rel="stylesheet"></link>
        <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
        <link rel="manifest" href="../static/site.webmanifest">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/about">About</a>
            <a href="/wishlist">Wishlist</a>
            <input type="text" id="navsearchbar" placeholder="Search.."/>
        </div>
        <main>
            <button id="btn-filter">filter</button>
            <div id="product_filters" style="visibility: hidden">
                <form method="post">
                    <label>price: </label><br>
                    <input type=text name="price-low" placeholder="min"><input type=text name="price-high" placeholder="max"><br>
                    <br><label>Feature:</label><br>
                    <br><label>Vendors:</label><br>
                    <input type=checkbox name="amazon-check"> Amazon<br>
                    <input type=checkbox name="mdcomputers-check"> MD Computers<br>
                    <input type=checkbox name="computerspace-check"> Computerspace<br>
                    <input type=checkbox name="vedantcomputers-check"> Vedant Computers<br>
                    <input type=checkbox name="primeabgb-check"> PrimeAGBG<br>
                    <input type=checkbox name="itdepot-check"> The IT Depot<br>
                    <input type=submit name="submit"/><br>
                </form>
            </div>
            <p>product grid will be generated </p>
        </main>
    </body>
</html>
