<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PC Comp Picker</title>
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link href="../static/style.css" type="text/css" rel="stylesheet"></link>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href=/about>About</a>
            <a href=/wishlist>Wishlist</a>
            <input type="text" id="navsearchbar" placeholder="Search.."/>
        </div>
        <table>
            <tr>
                <td>
                    <label>CPU</label>
                </td>
                <td>
                    <button id="btn_processor" class="btn_components">Choose</button>
                    <div id="selected-processor"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Cooling system</label>
                </td>
                <td>
                    <button id="btn_cooler" class="btn_components" >Choose</button>
                    <div id="selected-cooler"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Motherboard</label>
                </td>
                <td>
                    <button id="btn_motherboard" class="btn_components" >Choose</button>
                    <div id="selected-motherboard"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Memory</label>
                </td>
                <td>
                    <button id="btn_memory" class="btn_components">Choose</button>
                    <div id="selected-memory"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Storage device</label>
                </td>
                <td>
                    <button id="btn_storage" class="btn_components" >Choose</button>
                    <div id="selected-storage"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Case</label>
                </td>
                <td>
                    <button id="btn_case" class="btn_components" >Choose</button>
                    <div id="selected-case"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Power supply unit</label>
                </td>
                <td>
                    <button id="btn_psu" class="btn_components" >Choose</button>
                    <div id="selected-psu"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Graphics card</label>
                </td>
                <td>
                    <button id="btn_gpu" class="btn_components" >Choose</button>
                    <div id="selected-gpu"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Monitor</label>
                </td>
                <td>
                    <button id="btn_monitor" class="btn_components" >Choose</button>
                    <div id="selected-monitor"></div>
                </td>
            </tr>
        </table>
    </body>
</html>
