<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PC Comp Picker</title>
        <link href="../static/style.css" type="text/css" rel="stylesheet"></link>
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <nav>
            <ul class="topnav">
                <li><a href="#">Pccp</a></li>
                <li><a href="#">Wishlist</a></li>
                <li class="search">
                    <input type="text" class="search-input" placeholder="Search">
                    <button type="submit"> Go</button>
                </li>
            </ul>
        </nav>
        <main>
            <div class="product-catalog-grid">
                <div class="product-catalog-item">
                    <span id="cpu" class="product-name">CPU</span>
                    <div>
                        <button id="btn-processor" class="btn-product-page">Choose the item</button>
                    </div>
                </div>
                <div class="product-catalog-item">
                    <span id="cooling-system" class="product-name">Cooling system</span>
                    <div>
                        <button id="btn-cooling-system" class="btn-product-page">Choose the item</button>
                    </div>
                </div>
                <div class="product-catalog-item">
                    <span id="motherboard" class="product-name">Motherboard</span>
                    <div>
                        <button id="btn-motherboard" class="btn-product-page">Choose the item</button>
                    </div>
                </div>
                <div class="product-catalog-item">
                    <span id="memory" class="product-name">Memory</span>
                    <div>
                        <button id="btn-memory" class="btn-product-page">Choose the item</button>
                    </div>
                </div>
                <div class="product-catalog-item">
                    <span id="storage-device" class="product-name">Storage device</span>
                    <div>
                        <button id="btn-storage-device" class="btn-product-page">Choose the item</button>
                    </div>
                </div>
                <div class="product-catalog-item">
                    <span id="case" class="product-name">Case</span>
                    <div>
                        <button id="btn-case" class="btn-product-page">Choose the item</button>
                    </div>
                </div>
                <div class="product-catalog-item">
                    <span id="psu" class="product-name">Power supply unit</span>
                    <div>
                        <button id="btn-psu" class="btn-product-page">Choose the item</button>
                    </div>
                </div>
                <div class="product-catalog-item">
                    <span id="gpu" class="product-name">Graphic card</span>
                    <div>
                        <button id="btn-gpu" class="btn-product-page">Choose the item</button>
                    </div>
                </div>
                <div class="product-catalog-item">
                    <span id="monitor" class="product-name">Monitor</span>
                    <div>
                        <button id="btn-monitor" class="btn-product-page">Choose the item</button>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
